[Interface]
PrivateKey = {{ wg_private_key_result.stdout }}
ListenPort = 51820
Address = 10.0.1.1/24

{% for peer in wireguard_peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}
