127.0.0.1   localhost localhost.localdomain
::1         localhost ip6-localhost ip6-loopback
{{ ansible_facts['default_ipv4']['address'] | default('127.0.1.1') }} {{ ansible_facts['fqdn'] }} {{ ansible_facts['hostname'] }}
